:root {
   --bs-body-font-family: 'Roboto', sans-serif;

   /* COLORS */
   /* Primary */
   --dark-blue-01: #cfd4ed;
   --dark-blue-02: #aeb7e1;
   --dark-blue-03: #5e70c4;
   --dark-blue-04: #0d28a6;
   --dark-blue-05: #091b6f;

   --lime-green-01: #def1df;
   --lime-green-02: #c9e7ca;
   --lime-green-03: #92d094;
   --lime-green-04: #5cb85f;
   --lime-green-05: #3d7b3f;

   /* Alert */
   --alert-danger: #fa2c5a;
   --alert-warning: #f9cc00;
   --alert-success: #73ca5c;
}

section {
   padding-top: 6.25rem;
}

/* NAVBAR */
.navbar {
   background-color: #f1f3ff;
}

/* HERO */
.hero {
   /* padding-left: 16px; */
   /* padding-right: 0; */
   /* padding-top: 100px; */
   /* margin-top: 50px; */
   background-color: #f1f3ff;
}
.hero h1 {
   font-size: 2.5rem;
}

/* TESTIMONIALS */

.testimonial--img_small {
   width: 80px !important;
   box-sizing: border-box;
}
.testimonials {
   margin-bottom: 100px;
}
.carousel {
   background: none;
   border: #222222;
}

.carousel-cell {
   width: 50%;
   height: 350px;
   margin-right: 32px;
   background: #f1f3ff;
   border-radius: 8px;
   counter-increment: carousel-cell;
   justify-content: center;
}
.flickity-prev-next-button.previous {
   left: 45%;
}
.flickity-prev-next-button.next {
   left: 55%;
}
.flickity-prev-next-button {
   top: 120%;
}
.flickity-button {
   background: #c4c4c4;
   border: none;
   border: #222222;
   color: #222222;
}
.flickity-button:hover {
   background: #5cb85f;
   cursor: pointer;
}

/* CTA */
section .cta {
}

/* FAQ */
#faq {
   margin-top: 100px;
   border-radius: 13px;
}

.accordion-item {
   margin-bottom: 10px;
   border: 1px solid black !important;
   border-radius: 4px;
   overflow: hidden;
}

/* FOOTER */
.footer .list-group-item {
   border: 0px solid black !important;
   border-radius: 4px;
   overflow: hidden;
}

@media screen and (min-width: 576px) {
   .hero {
       padding-left: 4%;
   }
}

@media screen and (max-width: 375px) {
   .why-us__title {
       text-align: center;
   }
   .carousel-cell {
       width: 100%; /* full width */
       height: 450px; /* height of carousel */
       margin-right: 10px;
       justify-content: center;
   }
   .carousel-cell div {
       display: grid !important;
       justify-items: center;
   }
   .flickity-prev-next-button {
       width: 30px;
       height: 30px;
       top: 105%;
   }
   .cta .row {
       margin-inline: 7px;
   }
   .faq__title {
       text-align: center;
   }
   .list-group-item {
       /* width: 50px; */
       /* margin-right: 5px; */
       padding: 5px !important;
       overflow: inherit !important;
   }
}
@media screen and (max-width: 765px) {
   .why-us__title {
       text-align: center;
   }
   .carousel-cell {
       width: 100%; /* full width */
       height: 430px; /* height of carousel */
       margin-right: 10px;
       justify-content: center;
   }
   .carousel-cell div {
       display: grid !important;
       justify-items: center;
   }
   .flickity-prev-next-button {
       width: 30px;
       height: 30px;
       top: 105%;
   }
   .cta .row {
       margin-inline: 7px;
   }

   .faq__title {
       text-align: center;
   }
   .list-group-item {
       /* width: 50px; */
       /* margin-right: 5px; */
       padding: 5px !important;
       overflow: inherit !important;
   }
}

/* car.html */
.pencarian-mobil {
   margin-top: -40px !important;
   padding-top: 0px !important;

}

#form__filter-cars {
    position: relative;
    background-color: white;
}

.card-car {
   width: 333px;
   height: 100%;
  }
  
  .car-img {
     object-fit: cover;
     height: 200px;
     width: 100%;
     object-position: center;
  }